.nav {
  position: fixed;
  bottom: 0%;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  color: #2e363e;
  position: relative;
}
.nav__notification {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 23px;
  height: 23px;
  background-color: tomato;
  color: white;
  border-radius: 50%;
  bottom: 15px;
  left: 15px;
}
.nav__dot {
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: tomato;
  border-radius: 50%;
  left: 35px;
}
