.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 10px;
}
.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}
.screen-header__icons a {
  margin-left: 20px;
}
.screen-header__icons a:last-child {
  position: relative;
}
.screen-header__cog-badge {
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: tomato;
  border-radius: 50%;
  top: -10px;
  right: -5px;
}
